In [3]:
# 1️⃣ Import the data libraries
import pandas as pd

# 2️⃣ Load the data file
df = pd.read_csv('gBqE3R1cmOb0qyAv.csv')

# 3️⃣ Peek at the top rows
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,churned
0,4950-BDEUX,Male,0,No,No,35,No,No phone service,DSL,No,...,Yes,No,Yes,Yes,Month-to-month,No,Electronic check,49.20,1701.65,0
1,7993-NQLJE,Male,0,Yes,Yes,15,Yes,No,Fiber optic,Yes,...,No,No,No,No,Month-to-month,No,Mailed check,75.10,1151.55,0
2,7321-ZNSLA,Male,0,Yes,Yes,13,No,No phone service,DSL,Yes,...,No,Yes,No,No,Two year,No,Mailed check,40.55,590.35,0
3,4922-CVPDX,Female,0,Yes,No,26,Yes,No,DSL,No,...,Yes,No,Yes,Yes,Two year,Yes,Credit card (automatic),73.50,1905.7,0
4,2903-YYTBW,Male,0,Yes,Yes,1,Yes,No,DSL,No,...,No,No,No,No,Month-to-month,No,Electronic check,44.55,44.55,0

In [4]:
# 4️⃣ See if any columns have missing (null) data
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
churned             0
dtype: int64

In [5]:
# 1. Show data types and non-null counts
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5634 entries, 0 to 5633
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5634 non-null   object
 1   gender            5634 non-null   object
 2   SeniorCitizen     5634 non-null   int64
 3   Partner           5634 non-null   object
 4   Dependents        5634 non-null   object
 5   tenure            5634 non-null   int64
 6   PhoneService      5634 non-null   object
 7   MultipleLines     5634 non-null   object
 8   InternetService   5634 non-null   object
 9   OnlineSecurity    5634 non-null   object
 10  OnlineBackup      5634 non-null   object
 11  DeviceProtection  5634 non-null   object
 12  TechSupport       5634 non-null   object
 13  StreamingTV       5634 non-null   object
 14  StreamingMovies   5634 non-null   object
 15  Contract          5634 non-null   object
 16  PaperlessBilling  5634 non-null   object
 17  PaymentMethod     5634 non-null   object
 18  MonthlyCharges    5634 non-null   float64
 19  TotalCharges      5634 non-null   object
 20  churned           5634 non-null   int64
dtypes: float64(1), int64(3), object(17)
memory usage: 924.5+ KB

In [6]:
# 2. See first 5 rows of the dataset
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,churned
0,4950-BDEUX,Male,0,No,No,35,No,No phone service,DSL,No,...,Yes,No,Yes,Yes,Month-to-month,No,Electronic check,49.20,1701.65,0
1,7993-NQLJE,Male,0,Yes,Yes,15,Yes,No,Fiber optic,Yes,...,No,No,No,No,Month-to-month,No,Mailed check,75.10,1151.55,0
2,7321-ZNSLA,Male,0,Yes,Yes,13,No,No phone service,DSL,Yes,...,No,Yes,No,No,Two year,No,Mailed check,40.55,590.35,0
3,4922-CVPDX,Female,0,Yes,No,26,Yes,No,DSL,No,...,Yes,No,Yes,Yes,Two year,Yes,Credit card (automatic),73.50,1905.7,0
4,2903-YYTBW,Male,0,Yes,Yes,1,Yes,No,DSL,No,...,No,No,No,No,Month-to-month,No,Electronic check,44.55,44.55,0

In [7]:
# 3. Summary statistics of numerical features
df.describe()

       SeniorCitizen       tenure  MonthlyCharges      churned
count    5634.000000  5634.000000     5634.000000  5634.000000
mean        0.163294    32.485091       64.929961     0.265353
std         0.369667    24.568744       30.138105     0.441560
min         0.000000     0.000000       18.400000     0.000000
25%         0.000000     9.000000       35.662500     0.000000
50%         0.000000    29.000000       70.500000     0.000000
75%         0.000000    55.000000       90.000000     1.000000
max         1.000000    72.000000      118.750000     1.000000

In [8]:
# 4. See how many people churned vs not
df['churned'].value_counts()

churned
0    4139
1    1495
Name: count, dtype: int64

In [9]:
# Convert TotalCharges from string to numeric, forcing errors to NaN
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

# Now check how many rows became NaN (missing)
df['TotalCharges'].isnull().sum()

np.int64(8)

In [10]:
# Drop the few rows where TotalCharges could not be converted
df.dropna(subset=['TotalCharges'], inplace=True)

# Confirm it again
df['TotalCharges'].isnull().sum()

np.int64(0)

In [11]:
# Confirm type again
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
churned               int64
dtype: object

In [12]:
# Get all columns that are "object" (i.e., text)
cat_cols = df.select_dtypes(include='object').columns
cat_cols

Index(['customerID', 'gender', 'Partner', 'Dependents', 'PhoneService',
       'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'Contract', 'PaperlessBilling', 'PaymentMethod'],
      dtype='object')

In [13]:
df.drop('customerID', axis=1, inplace=True)

In [14]:
from sklearn.preprocessing import LabelEncoder

# Create a label encoder object
le = LabelEncoder()

# Loop through all categorical columns and encode them
for col in cat_cols:
    if col != 'customerID':  # we already dropped it
        df[col] = le.fit_transform(df[col])

In [15]:
df.dtypes

gender                int64
SeniorCitizen         int64
Partner               int64
Dependents            int64
tenure                int64
PhoneService          int64
MultipleLines         int64
InternetService       int64
OnlineSecurity        int64
OnlineBackup          int64
DeviceProtection      int64
TechSupport           int64
StreamingTV           int64
StreamingMovies       int64
Contract              int64
PaperlessBilling      int64
PaymentMethod         int64
MonthlyCharges      float64
TotalCharges        float64
churned               int64
dtype: object

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
import xgboost as xgb

ModuleNotFoundError: No module named 'xgboost'